<center>
                <p><h1><b>Forma la palabra v1.0</b></h1>
                <p>

                <table>
                               <tr>
                                               <td>
                                                               <form method="post" action="/mostrar/Hola">
                                                                              <p><input type="submit" value="Mostrar Palabra" />
                                                               </form>
                                               </td>
                               </tr>
                </table>
</center>

