<center>
  <p><h1><b>Haz Fallado 3 Veces</b></h1>
	<p>
	Palabra Correcta: <%= @palabracorrecta %>


  <table>
     <tr>
         <td>
             <form method="post" action="/mostrar/">
                            <p><input type="submit" value="Continuar" />
             </form>
         </td>
     </tr>
  </table>

</center>

