<center>
  <p><h1><b>Haz Finalizado el Juego</b></h1>
	<p>
	Puntos Ganados: <%= @totalpuntos %>


  <table>
     <tr>
         <td>
             <form method="get" action="/">
                            <p><input type="submit" value="Jugar Nuevamente" />
             </form>
         </td>
     </tr>
  </table>

</center>

